<title>maxmckone.com</title>

<h1>Welcome!</h1>

<body>

  <p>My name is Max McKone, and I am a 24 year old full stack developer currently working from Berlin. </p>
  <p>If you would like to get in to contact with me, be it business or otherwise, feel free to use any of the following methods:</p>
  <p><a href="mailto: max.mckone@gmail.com">max.mckone@googlemail.com</a></p>
  <p><a href="https://github.com/Max-McKone">Github</a></p>
  <p><a href="https://www.linkedin.com/in/max-mckone-08141414a/">Linkedin</a></p>

</body>