<title>maxmckone.com</title>

<h1>Hey there.</h1>

<body>
  <p>My name is Max McKone, and I am a 24 year old software developer currently working as a web developer from Berlin.</p>

  <p>I'm always looking for new opportunities. So if you would like to get in to contact with me, </p>
  <p>be it business or otherwise, feel free to use any of the following methods:</p>
  <p><a href="mailto: max.mckone@gmail.com">Send mail 📩</a> <a href="https://github.com/Max-McKone">Github 🐙</a> <a href="https://www.linkedin.com/in/max-mckone-08141414a/">Linkedin 📘</a></p>
</body>

<footer class="footer">
  <p> maxmckone.com 2020</p>
 </footer>
 