<title>maxmckone.com</title>

<h1>Max McKone</h1>

<body>
  <p>Berlin, Germany based software engineer, web developer and hobby painter.</p>

  <p>Like to get in contact, be it for business or otherwise? </p>
  <p>Feel free to <a href="mailto: max.mckone@gmail.com">send an email</a>, check out <a href="https://github.com/Max-McKone">Github</a> or <a href="https://www.linkedin.com/in/max-mckone-08141414a/">Linkedin</a></p>
  <p>©</p>
</body>

<footer class="footer">
  <p>maxmckone.com 2020</p>
</footer>